<%= form_for @profile, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :occupations, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :occupations, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :skills, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :skills, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :education, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :education, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :date_of_birth, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :hometown, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :hometown, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :about, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :about, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  profiles_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
