<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => @group.name %></h1>
</div>

<div class = "col-md-4">

     <pre class="prettyprint"><%= @group.name %></pre>
     <pre class="prettyprint"><%= @group.about %></pre>
     <pre class="prettyprint"><%= @group.details %></pre>
     <pre class="prettyprint"><%= @group.scope %></pre>

<div>



<div class="form-group">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_group_path(@group), :class => 'btn btn-default' %>
  <% if not @group.users.include?(current_user) %>
  <%= link_to "Join", {:controller => :groups, :action => :join, id: @group.id}, :method => "put", :class => "btn btn-lg btn-success" %>
  <% end %>
</div>

